@use 'functions' as fnc;
@use 'breakpoints' as mix;

.result {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: fnc.rem(327);
    max-width: fnc.rem(413);
    background-color: var(--veryDarkCyan);
    padding: fnc.rem(24);
    border-radius: fnc.rem(14);
    padding-top: fnc.rem(45);

    @include mix.breakpoint-up(large) {
        padding: fnc.rem(40);
    }

    label {
        display: flex;
        flex-direction: column;
        font-size: fnc.rem(16);
        font-weight: 700;
        color: var(--white);

    }

    span {
        font-size: fnc.rem(12);
        color: var(--darkGrayishCyan2);

    }

    &__element {
        display: flex;
        justify-content: space-between;
        margin-bottom: fnc.rem(20);

    }

    &__amount {
        font-family: var(--font);
        font-size: fnc.rem(32);
        color: var(--strongCyan);
        font-weight: 700;
        text-align: right;      
        
        @include mix.breakpoint-up(medium) {
            font-size: fnc.rem(42);
        }

    }

    button {
        background-color: var(--strongCyan);
        height: fnc.rem(48);
        width: 100%;
        border: none;
        border-radius: fnc.rem(5);
        font-family: var(--font);
        font-size: fnc.rem(20);
        font-weight: 700;
        color: var(--veryDarkCyan);
        text-transform: uppercase;
        transition: background-color 250ms ease-in-out;

        &:disabled {
            opacity: 25%;
        }

        &:hover:enabled {
            background-color: var(--hoverCyan);
        }
    }
}