@use 'functions' as fnc;
@use 'breakpoints' as mix;

.selector {
    flex: 50%;
    margin-bottom: fnc.rem(33);
    min-width: fnc.rem(327);
    max-width: fnc.rem(379);
    

    label {
        font-size: fnc.rem(16);
        font-weight: 700;
        color: var(--darkGrayishCyan1);
    }


    input {
        padding-right: fnc.rem(17);
        height: fnc.rem(48);
        text-align: right;
        font-family: var(--font);
        font-size: fnc.rem(24);
        color: var(--veryDarkCyan);
        font-weight: 700;
        background-color: var(--lightGrayishCyan2);
        border: none;
        border-radius: fnc.rem(5);
        cursor: pointer;
        transition: border 150ms ease-in-out;

        &:focus-visible {
            outline-color: var(--veryDarkCyan);            
        }

        &:hover {
            border: fnc.rem(2) solid var(--strongCyan);
        }

        &:invalid {
                border: fnc.rem(2) solid var(--invalidOrange);
            }
        
    }

    &__bill-total {
        display: flex;
        flex-direction: column;
        position: relative;

        label {
            display: flex;
            justify-content: space-between
        }
        span {
            text-align: right;
            color: var(--invalidOrange);
        }       

        input {
            margin-bottom: fnc.rem(28);
        }
        #dollar-icon {
            position: absolute;
            left: 6%;
            top: 28%;
        }        
    }

    &__selection {
        margin-bottom: fnc.rem(38);
    }

    &__value {
        display: none;

        &:checked + .selector__label {
            background-color: var(--strongCyan);
            color: var(--veryDarkCyan);
        }
    }  

    &__select {
        margin-top: fnc.rem(12);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: fnc.rem(16);

        @include mix.breakpoint-up(large) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        > label {
            border-radius: fnc.rem(5);
            padding-top: fnc.rem(6);
            font-family: var(--font);
            font-size: fnc.rem(24);
            font-weight: 700;
            color: var(--white);
            background-color: var(--veryDarkCyan);
            text-align: center;
            cursor: pointer;
            transition: all 250ms ease-in-out;

            &:hover {
                background-color: var(--hoverCyan);
                color: var(--veryDarkCyan);
            }
        }        
    }

    &__custom {
        width: 100%;
        margin-bottom: 0;
    }

      

    &__people-number {
        display: flex;
        flex-direction: column;
        position: relative;

        label {
            display: flex;
            justify-content: space-between
        }

        span {
            text-align: right;
            color: var(--invalidOrange);
        }       

        #person-icon {
            position: absolute;
            left: 6%;
            top: 40%;
        }
    }
}